<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <div class="field">
      <label class="label">Destinataire(s)</label>
      <div class="control has-icons-left">
        <input class="input destiMail" type="text" placeholder="Destinataire(s)" value="">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Objet</label>
      <div class="control has-icons-left">
        <input class="input objetMail" type="email" placeholder="Objet" value="">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea class="textarea contenuMail" placeholder="Message"></textarea>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" onclick="rend.submitting()">Submit</button>
      </div>
      <div class="control">
        <button class="button is-text" onclick="rend.canceling()">Cancel</button>
      </div>
    </div>
  </div>
</div>