<p>
    <button onclick="yolo()">Crash/Sleep</button> <br/>
    <button onclick="openExtFile()">Open a file manager</button> <br/>
    <button onclick="openFileOrDir()">Open a file</button> <br/>
    <div id="dragFileBox" style="border:1px solid black; height:100px; width:400px;">
      <span>drag some file here</span>
    </div> <br/>
    <button onclick="copyText()">Copier</button> <br/>
    <button onclick="pasteText()">Coller</button> <span id="copaste"></span> <br/>
    <button onclick="ExternalCommand()">Ouvrir</button> <br/>
  </p>

  <script>
    // You can also require other files to run in this process
    require('./renderer.js')
    const {BrowserWindow, dialog, shell, clipboard} = require('electron').remote
    const ipc = require('electron').ipcRenderer
    const path = require('path')
    var openedFile = 'none'

    function yolo() {
      const options = {
        type: 'info',
        title: 'Appli qui répond pas',
        message: 'L\'appli s\'est endormie',
        buttons: ['Slap him','Kill him'],
      }
      dialog.showMessageBox(options, (index) => {
        if(index === 0) ipc.send('button-clicking-main','reload')
        else ipc.send('button-clicking-main','close')
      })
    }
    //ouvre un explorer de fichier      
    function openExtFile() {
      const os = require('os')
      shell.showItemInFolder(os.homedir())
    }

    //permet de selectionner un dossier ou des fichiers
    function openFileOrDir() {
      ipc.send('open-file-dialog')
    }
    ipc.on('selected-directory', (event, path) => {
      alert('Document ' + path + '')
      openedFile = path
    })
    //pas convaincu de cette feature, peut être utiliser html5 drag & drop
    document.getElementById('dragFileBox').addEventListener('dragstart', (event) => {
      event.preventDefault()
      ipc.send('ondragstart', __filename)
    })

    //permet d'utiliser la fonction de copier coller du client
    const copasteInput = document.getElementById('copaste')
    function copyText() {
      clipboard.writeText('quelque chose')
      copasteInput.innerHTML = "Copied !"
    }
    function pasteText() {
      clipboard.writeText('quelque truc')
      copasteInput.innerHTML = "content: " + clipboard.readText()
    }
    //ouvre un fichier particulier
    function ExternalCommand() {
      let pathToFile = ''
      if (openedFile == 'none') {
        pathToFile = path.join('file://C:/Users/ValentinA/Desktop/pour\ demain\ utile.txt')
      } else {
        pathToFile = path.join('file://' + openedFile)
      }
      shell.openExternal(pathToFile)
    }
  </script>